header {
    background-image: url('/Users/nicolaslassouane/Library/Mobile Documents/com~apple~CloudDocs/Immersion la Piscine/WWF-BOOTSTRAP/imgWWF/tigre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    position: relative;
}
ul {
    font-size: 2em;
}
h1 {
    font-weight: bold;
    
}
.highlight-link {
    color: whitesmoke;
    transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}
.highlight-link:hoover {
    color: gray;
    
}

.WWF-logo {
    width: 10vw;
}

h1, p {
    padding-left: 50%;
    padding-right: 5%;
}

.image-article {
    width: 30%;
}
.titre-article {
    font-weight: bold;
    font-size: x-large;
}
.item-article2 {
    margin: 2%;
}
.chillin-tiger {
    width: 30vw;
}
.img-diapo {
    width: 80vw;
}
.custom-banner {
            background-color: #28a745; /* Couleur de fond verte */
            color: white; /* Couleur du texte */
            height: 150px; /* Hauteur spécifique du bandeau */
            display: flex;
            align-items: center; /* Centre le contenu verticalement */
            justify-content: center; /* Centre le contenu horizontalement */
            text-align: center; /* Centre le texte */
            margin-top: 5%;
            margin-bottom: 5%;
        }